In [ ]:
1) Write an SQL query to show the top n (say 10) records of a table.

cursor.execute("select TOP 10 * from Workers Order by salary desc")
or
cursor.execute("select * from Workers Order by salary desc limit 10")

2) Write an SQL query to determine the nth (say n=5) highest salary from a table.

cursor.execute("select Salary from Workers ORDER BY Salary DESC LIMIT 4,1")